:root {
    --main-text: 'roboto';
    --logo-text: 'Raleway';
    --brand-color: #2196F3;
    --main-text-color: #757575;
    --title-color: #212121;
    --fuller-color: #2F303A;
}
body {
    font-family: var(--main-text);
    font-style: normal;
    font-weight: 500;
}
li {
    list-style-type: none
}
.container {
    

}   

.header>.container {
    display: flex;
    padding-left: 215px;
    padding-right: 215px;
    justify-content: space-between;
    align-items: center;
    width: 1600px
}
.logo {
    
    font-family: var(--logo-text);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--brand-color);
    margin-right: auto;
}
 .header-logo {
     color: black;
 }
.references{
    display: flex;
    height: 48px;
    align-items: center;
}
.link {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-color);
    margin-right: 50px;
}
.active-link {
    color: var(--brand-color)
}
.link:hover, .link:focus{
    color: var(--brand-color);
    cursor: pointer;
}
.contact-list {
    display: flex;
    margin-left: auto;
}
.contact-mail {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--brand-color);
    margin-right: 50px;
}
.contact-phone {
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}    
.contact-mail:hover, .contact-mail:focus {
    color: var(--brand-color);
    cursor: pointer;
    }
.contact-phone:hover, .contact-phone:focus {
    color: var(--brand-color);
    cursor: pointer;
    }
.hero>.container {
    background: var(--fuller-color);
    width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 452px;
    padding-right: 452px;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.properties>.container {
    width: 1600px;
}
.list {
    padding: 94px 215px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.list>.item {
    margin-right: 30px;
}
.propertie {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.item .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    ;
}
.subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
.about-us>.container {
    width: 1600px;
}

.about-us .title, .team .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 50px;
}
.card-list {
    padding: 94px 215px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card-list:(last-child){
    margin-right: 0
}
.card {
    margin-right: 30px;
}

.works-image {
    
}

.team>.container {
 width: 1600px; 
 padding: 94px 215px;  
}

.team-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-description {
    margin-right: 30px;
}
.team-image {}

.name {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    font-weight: 500;
}
.position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
.footer>.container {
    display: block;
    padding-left: 0px;
    width: 1600px;
    background: var(--fuller-color);
    font-weight: 400;
    padding: 60px 215px;
}
.footer .logo {
    margin-bottom: 20px;
}
.footer-logo {
    color: white
}
.footer .contact-list {

}
.footer .contact-mail, .footer .contact-phone {
    color: rgba(255, 255, 255, 0.6);
}
.footer .contact-mail:hover,
.footer .contact-mail:focus,
.footer .contact-phone:hover,
.footer .contact-phone:focus
    {
    color: var(--brand-color);
    cursor: pointer;
    }
.post {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.works>.container {
    width: 1600px;
}
.works .title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.button{
   display: flex;
   padding: 94px 495px 56px;
   justify-content: space-around;
   align-items: center;
   margin-top: 0px;
   margin-bottom: 0px;
}
.btn {
    background: #F5F4FA;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    border: 0;
    cursor: pointer;
    font-weight: 500;
    height: 38px;
}
.select-btn {
    background: var(--brand-color);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    border: 0;
    height: 38px;
}
.hero .select-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 200px;
}
.btn:hover, .btn:focus {
    background: var(--brand-color);
    font-weight: 700;
    color: white;
}
.works-cards {
  width: 1600px;
  display: flex;  
  flex-wrap: wrap;
  padding-left: 215px;
  padding-right: 215px;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: space-between;
  align-items: center;
}

.works-card-description {
    list-style-type: none;
    margin-right: 30px;
    margin-bottom: 30px;
}


.works-card-description:nth-of-type(3n+1) {
    margin-left: 0;
  }
  
  .works-card-description:nth-of-type(3n) {
    margin-right: 0;
  }
  
  .works-card-description:nth-last-of-type(-n+3) {
    margin-bottom: 0;
  }
.works-card-description .name, .works-card-description .position {
    text-align:left;
}
